<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de fichas</title>
</head>
<body>
  <h1>Lista de fichas</h1>
  <nav>
    <a href="/">Criar ficha</a>
    <a href="/fichas">Histórico de fichas</a>
  </nav>
  <div>
    {% for nomePersonagem, nomeJogador, parenteDivino, armamento, humanidade, forca, destreza, vigor, inteligencia, carisma, aparencia, vida, estamina, aspis, focoAtributo in dados %}
    <h1>{{ nomePersonagem }}</h1>
    <h2>{{ nomeJogador }}</h2>
    <p>Parente divino: {{ parenteDivino }}</p>
    <p>Armamento: {{ armamento }}</p>
    <p>Humanidade inicial: {{ humanidade }}</p>
    <p>Atributo foco: {{ focoAtributo }}</p>
    <table>
      <tr>
        <th>Áspis</th>
        <th>Vida</th>
        <th>Estamina</th>
      </tr>
      <tr>
        <td>{{ aspis }} </td>
        <td>{{ vida }}</td>
        <td>{{ estamina }}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Força</th>
        <th>Destreza</th>
        <th>Vigor</th>
        <th>Inteligência</th>
        <th>Carisma</th>
        <th>Aparência</th>
      </tr>
      <tr>
        <td>{{ forca }}</td>
        <td>{{ destreza }}</td>
        <td>{{ vigor }}</td>
        <td>{{ inteligencia }}</td>
        <td>{{ carisma }}</td>
        <td>{{ aparencia }}</td>
      </tr>
    </table>
    {% endfor %}
  </div>
</body>
</html>