<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>Criação da ficha</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Criar ficha</a>
        <a href="/fichas">Histórico de fichas</a>
      </nav>
    <div>
        <form action="/salvar" method="post">
            <label for="nomeJogador">Nome do jogador</label><br>
            <input id="nomeJogador" name="nomeJogador" type="text"><br><br>
            <label for="nomePersonagem">Nome do personagem</label><br>
            <input id="nomePersonagem" name="nomePersonagem" type="text"><br><br>
            <label for="parenteDivino">Ascendente divino</label><br>
            <select id="parenteDivino" name="parenteDivino">
                <option value="Zeus">Zeus</option>
                <option value="Poseidon">Poseidon</option>
                <option value="Hades">Hades</option>
                <option value="Atena">Atena</option>
                <option value="Ares">Ares</option>
                <option value="Hermes">Hermes</option>
                <option value="Apolo">Apolo</option>
                <option value="Afrodite">Afrodite</option>
                <option value="Hefesto">Hefesto</option>
                <option value="Dionísio">Dionísio</option>
                <option value="Deméter">Deméter</option>
                <option value="Nike">Nike</option>
            </select><br><br>
            <label for="armamento">Armamentos</label><br>
            <select id="armamento" name="armamento">
                <option value="Atirador">Atirador</option>
                <option value="Espadachim">Espadachim</option>
                <option value="Lutador">Lutador</option>
            </select><br><br>
            <label for="humanidade">Humanidade</label><br>
            <select id="humanidade" name="humanidade">
                <option value="Empático">Empático (25%)</option>
                <option value="Desumano">Desumano (0%)</option>
                <option value="Monstruoso">Monstruoso (-25%)</option>
            </select>
            <table>
                <tr>
                    <th>Força</th>
                    <th>Destreza</th>
                    <th>Vigor</th>
                    <th>Inteligência</th>
                    <th>Carisma</th>
                    <th>Aparência</th>
                </tr>
                <tr>
                    <td><input id="forca" name="forca" type="number" min="1" max="5"></td>
                    <td><input id="destreza" name="destreza" type="number" min="1" max="5"></td>
                    <td><input id="vigor" name="vigor" type="number" min="1" max="5"></td>
                    <td><input id="inteligencia" name="inteligencia" type="number" min="1" max="5"></td>
                    <td><input id="carisma" name="carisma" type="number" min="1" max="5"></td>
                    <td><input id="aparencia" name="aparencia" type="number" min="1" max="5"></td>
                </tr>
            </table>
            <button type="submit">Cadastrar ficha</button>
        </form>
    </div>
</body>
</html>